/* 
    Document   : button
    Created on : May 18, 2009, 9:03:12 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.menubutton {
    cursor:hand;
}

