/* 
    Document   : formlibrary
    Created on : Oct 10, 2013, 10:33:46 AM
    Author     : Veronica
    Description:
        Purpose of the stylesheet follows.
*/
body { font-size: 85%;}
input { display:block; }
input.text { margin-bottom:5px; padding: .2em; }
div#users-contain { width: 100%; margin: 10px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse;  width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .4em 6px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

